<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div>
  <button
    class="btn btn-primary"
    (click)="onTestPromiseButtonClick()">
    TestPromiseButton
  </button>
</div>
<br/>
<div>
  <button
    class="btn btn-primary"
    (click)="onTestUncaughtErrorFromFunctionPromiseButtonClick()">
    TestErrorUncaughtFunctionPromiseButton
  </button>
</div>
<br/>
<div>
  <button
    class="btn btn-primary"
    (click)="onTestUncaughtErrorFromInsidePromiseButtonClick()">
    TestErrorUncaughtInsidePromiseButton
  </button>
</div>
<br/>
<div>
  <button
    class="btn btn-primary"
    (click)="onTestCaughtErrorFromFunctionPromiseButtonClick()">
    TestErrorCaughtFunctionPromiseButton
  </button>
</div>
<br/>
<div>
  <button
    class="btn btn-primary"
    (click)="onTestCaughtErrorFromInsidePromiseButtonClick()">
    TestErrorCaughtInsidePromiseButton
  </button>
</div>