<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div>
  <button (click)="onTestPromiseButtonClick()">
    TestPromiseButton</button>
</div>
<br/>
<div>
  <button (click)="onTestUncaughtErrorFromFunctionPromiseButtonClick()">
    TestErrorUncaughtFunctionPromiseButton</button>
</div>
<br/>
<div>
  <button (click)="onTestUncaughtErrorFromInsidePromiseButtonClick()">
    TestErrorUncaughtInsidePromiseButton</button>
</div>
<br/>
<div>
  <button (click)="onTestCaughtErrorFromFunctionPromiseButtonClick()">
    TestErrorCaughtFunctionPromiseButton</button>
</div>
<br/>
<div>
  <button (click)="onTestCaughtErrorFromInsidePromiseButtonClick()">
    TestErrorCaughtInsidePromiseButton</button>
</div>